* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto Condensed;
}
body,
html {
  background: #000000;
  /* height: 100vh;  */
  overflow: hidden; /*Isso remove a barra de rolagem do body */
  height: 100vh; /* Isso define a altura do body para a altura da janela de visualização */
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 300px;
  top: 10px;
  left: 10px;
  height: 6vh;
}

header figure img {
  width: 45px;
  height: 37px;
  margin: 8px;
}
header h1 {
  color: #ffa500;
  font-family: Lemon;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Roboto Condensed;
  background-color: #ffa500;
  height: 6vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 85vh;
}
h2 {
  font-family: Lemon;
  color: #ffa500;
  font-size: 12px;
  font-style: italic;
  font-weight: 200;
  align-self: center;
  margin: 3px;
  height: 3vh;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 8px;
  height: 75vh;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;

}
.cartao {
  display: flex;
  position: relative;
  background: #d9d9d9;
  border-radius: 5px;
  width: 30vh;
  height: 40vh;
  margin: 5px;
  padding: 8px;
  text-align: center;

}

.classificacao {
  border-radius: 5px;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  color: white;
  text-align: center;
  font-family: "Salsa-Regular", sans-serif;
  font-size: 8px;
  font-weight: 400;
}
.cl-L {
  background-color: #009118;
}
.cl-A10 {
  background-color: #0081d8;
}
.cl-A12 {
  background-color: #f9d018;
}
.cl-A14 {
  background-color: #f38611;
}
.cl-A16 {
  background-color: #d3000a;
}
.cl-A18 {
  background-color: #000000;
}
.cartao img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 5px;
}
h5 {
  font-size: 11px;
  font-weight: bold;
  font-family: Roboto Condensed;
}

.cartao button {
  background-color: #ffa500;
  color: #000000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.info-externa {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.curiosidades {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(246, 235, 235, 0.7);
}
.curiosidades h6,
.curiosidades p {
  color: #000000; /* Ajuste a cor do texto conforme necessário */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
footer {
  background-color: #ffa500;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 2vh;
}
footer p {
  color: #000000;
  text-align: center;
  font-family: "Lily Script One";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
